:root {
}

.base {
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/base%20grafica%201623x1071.png?fileID=2800000&guid=1bc29c55dcb9b0f4bab5ad300bee54dd&type=3#base grafica 1623x1071");
    background-size: 100% 100%;
    height: auto;
    width: 1550px;
}

.fondo {
    flex-direction: row;
}

.botones {
    align-self: center;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-top-width: 200px;
    border-bottom-width: 200px;
}

.cerrar {
    align-self: flex-end;
    border-top-width: 65px;
}

.home {
    align-self: flex-start;
    border-left-width: 10px;
    border-top-width: 10px;
}
