:root {
}

.Base {
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/base%20grafica%201623x1071.png?fileID=2800000&guid=1bc29c55dcb9b0f4bab5ad300bee54dd&type=3#base grafica 1623x1071");
    background-color: rgba(0, 0, 0, 0);
    width: 1520px;
    margin-top: 18px;
    margin-left: 2px;
    margin-bottom: 20px;
    padding-left: 0;
    margin-right: 35px;
}

.cerrar {
    align-self: flex-end;
    align-content: flex-start;
    align-items: stretch;
    translate: 0 20px;
    width: 77px;
    height: 77px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/tache%2077x77.png?fileID=2800000&guid=8baca84e2db8fcb449b6a2491a8d0c16&type=3#tache 77x77");
    background-color: rgba(0, 0, 0, 0);
}

.botones {
    align-self: center;
    justify-content: space-between;
    translate: -57px 0;
    margin-left: 2px;
}

.fondo {
    flex-direction: row;
    border-top-width: 40px;
    border-bottom-width: 40px;
}

.botonCara {
    width: 106px;
    height: 102px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/Botones/Botones%20desactivados/color%20desactivado%20106x102.png?fileID=2800000&guid=d65654479a22c6e48b41504330f06ce7&type=3#color desactivado 106x102");
    margin-top: 60px;
    margin-bottom: 40px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.botonOjos {
    width: 160px;
    height: 110px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/Botones/Botones%20activos/cara%20activado%20160x110.png?fileID=2800000&guid=1b21765367282134da3d1ea3b35aa6c9&type=3#cara activado 160x110");
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.botonOutfit {
    width: 106px;
    height: 102px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/Botones/Botones%20desactivados/outfit%20desactivado%20106x102.png?fileID=2800000&guid=ed1c1e4e15db577438262779d4832aa9&type=3#outfit desactivado 106x102");
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.botonConfig {
    width: 102px;
    height: 106px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/Botones/Botones%20desactivados/config%20desactivado%20106x102.png?fileID=2800000&guid=846e595cca64753468fca6280bc48c33&type=3#config desactivado 106x102");
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-left: 8px;
}

.botonHome {
    width: 102px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/Botones/Botones%20desactivados/menu%20desactivado%20106x102.png?fileID=2800000&guid=5c4a6ce987d6dfb449552b2afcc2537f&type=3#menu desactivado 106x102");
    margin-bottom: 60px;
    height: 106px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.ojospred {
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/cara/base%20163x163.png?fileID=2800000&guid=c4d413ee2b09a1e49acc14367477ff2a&type=3#base 163x163");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    height: 150px;
    width: 150px;
    align-self: center;
    margin-bottom: 10px;
}

.seleccionOjos {
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    flex-grow: 2;
}

.ojos1 {
    width: 150px;
    height: 160px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/cara/rombos%20163x163.png?fileID=2800000&guid=65a9cdb0b419b4f4a9910a6c8a5b99ff&type=3#rombos 163x163");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    margin-right: 70px;
    background-size: 100% 86%;
}

.ojos2 {
    width: 150px;
    height: 160px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/cara/cansados%20163x163.png?fileID=2800000&guid=917626b5d1c5db1428c47fa8106474ec&type=3#cansados 163x163");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    margin-left: 70px;
    background-size: 89% 100%;
}

.ojos3 {
    width: 150px;
    height: 160px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/cara/estrella%20163x163.png?fileID=2800000&guid=0db1477fbef63bf41b0449dff9a73548&type=3#estrella 163x163");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    margin-right: 70px;
    background-size: 100% 86%;
}

.ojos4 {
    width: 150px;
    height: 160px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/cara/happy%20163x163.png?fileID=2800000&guid=e5f16536d40225c4c83abb34181f9029&type=3#happy 163x163");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    margin-left: 70px;
    background-size: 87% 100%;
}

.ojos5 {
    width: 150px;
    height: 160px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/cara/pirata%20163x163.png?fileID=2800000&guid=74c45198f15cccb4db04827ded4ca552&type=3#pirata 163x163");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    margin-right: 70px;
    background-size: 100% 87%;
}

.ojos6 {
    width: 150px;
    height: 160px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/cara/emputado%20163x163.png?fileID=2800000&guid=b2d0f891ad6fdb641b9f639a64e5abb6&type=3#emputado 163x163");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    margin-left: 70px;
    background-size: 87% 100%;
}

.bloqueado {
    background-image: url("project://database/Assets/Imagenes%20Somnia/HUD/Inventario/cara/bloqueado%20163x163.png?fileID=2800000&guid=bd21816eaea16004da496e7204ff7904&type=3#bloqueado 163x163");
    background-color: rgb(243, 222, 167);
}
