:root {
}

.contenedor {
}

.inventario {
    align-items: flex-end;
    align-self: flex-end;
    width: 365px;
    height: 185px;
    background-image: url("project://database/Assets/Imagenes%20Somnia/Mapas/Iconos/HUD/Inventario.png?fileID=6996492222815415416&guid=efa7e82b7ada165428873fba6083e58e&type=3#Inventario_0");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    translate: 0 -40px;
}

.Home {
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
}

.superior {
    align-items: flex-start;
    justify-content: space-evenly;
    align-self: flex-start;
    min-height: auto;
    max-height: 300px;
}

.yatzis {
    max-height: 200px;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    translate: 0 560px;
}
