:root {
}

.contenedor {
}

.inventario {
    align-items: flex-end;
    align-self: flex-end;
    width: 300px;
    height: 200px;
}

.Home {
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
}

.superior {
    align-items: flex-start;
    justify-content: space-evenly;
    align-self: flex-start;
    min-height: auto;
    max-height: 300px;
}

.yatzis {
    max-height: 200px;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    translate: 0 560px;
}
